<section id="contact"><br><br></section>
  <div id="footerwrap">
    <div class="container-fluid">
      <br>
	  <h2>CONTACT</h2>
	  <div class="row-fluid">
	    <div class="span4">
		   <!-- <img src="assets/img/logo_small.png" alt=""> -->
			 <h3>West Texas Wings</h3>
			 <h4>501 West Holland Avenue</h4>
			 <h4>79830 Alpine, Texas</h4>
			 <h4>westtexaswings@gmail.com</h4>
       <h4>432.837.5233</h4>
		</div><!-- span4 -->	
		<div class="span4 pull-right">
          <form>
            <fieldset>
            <div class="control-group">
              <div class="controls">
                <input class="span12" type="text" placeholder="Your Full Name">
              </div> <!-- controls -->
              <div class="controls">
                <input class="span12" type="text" placeholder="Your Email">
              </div>
              <div class="controls">
                <input class="span12" type="text" placeholder="Message Subject">
              </div>
              <div class="controls">
                <textarea class="span12" id="textarea" rows="6" placeholder="Endpoint not yet setup, message goes no where!"></textarea>
              </div>
              <button class="btn btn-default center">Send Message</button>
          </div>
        </div>
      </fieldset>
    </form>
</div>
  </div>
</div>