<section id="home" style="margin-left:0px; margin-right:0px">
	  <div id="blogo"> west texas wings </div>
   <div class="wrapper">
     <center><%= image_tag("streetview1200x450.jpg") %></center>
   </div>
</section>