<section id="home" style="margin-left:0px; margin-right:0px; ">
	  
   <div id="blogo" class="wrapper home" width="100%" height="100%" style="background-image: url(<%= asset_path 'streetview1200x450.jpg' %>); background-size: contain; background-size: cover;">
   	<h1>west texas wings </h1>
     <!--<center><%= image_tag("streetview2200x900.jpg") %></center> -->
</div>
</section>