<section id="home" style="margin-left:0px; margin-right:0px; ">
	  
   <div id="blogo" class="wrapper home center" style="background-image: url(<%= asset_path 'streetview1200x450.jpg' %>); background-size: cover;  background-position: center; background-size: 100% 100%;">
   	<h1>west texas wings </h1>
     <!--<center><%= image_tag("streetview2200x900.jpg") %></center> -->
</div>
</section>