<% provide(:title, "Location") %>
<div id="map">

<iframe height="450" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=501%2BWest%2BHolland%2BAve%2BAlpine%2C%2BTx%2B79830&ie=UTF8&z=14&t=m&iwloc=near&output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=501%2BWest%2BHolland%2BAve%2BAlpine%2C%2BTx%2B79830&ie=UTF8&z=10&t=m&iwloc=near">View Larger Map</a></small>

</div>

