<footer class="footer-fluid">
  <small>
    West Texas Wings <br />
    501 West Holland Ave <br />
    Alpine, Tx 78930 <br />
    432-837-5233
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>