<div id="headerwrap" style="background-color: #ff1919">
 	<header class="clearfix">
 	 	<div class="container-fluid">
 		 <!-- LOGO GOES HERE	<img src="assets/img/logo.png"> -->
			<hgroup>
        <h1><b>WEST<b></h1><br />
        <h1><b>TEXAS</b></h1><br />
        <h1><b>WINGS</b></h1><br />
        <h2>Alpine, TX</h2>
       </hgroup>
		</div>
	</header>
</div>
