<div id="headerwrap" style="background: url(<%= asset_path "streetview.jpg" %>) no-repeat center center fixed;    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
 	<header class="clearfix">
 	 	<div class="container">
 		 <!-- LOGO GOES HERE	<img src="assets/img/logo.png"> -->
			<hgroup>
        <h1>West Texas Wings</h1>
  			<h2>Alpine, Tx</h2>
       </hgroup>
		</div>
	</header>
</div>
