<div id="headerwrap" style="background-color: #ff1919">
 	<header class="clearfix">
 	 	<div class="container-fluid">
 		 <!-- LOGO GOES HERE	<img src="assets/img/logo.png"> -->
			<hgroup>
        <h1>WEST TEXAS</h1>
        <h1>WINGS</h1><br />
  			<h2>ALPINE, TX</h2>
       </hgroup>
		</div>
	</header>
</div>
