<div class="navbar navbar-fixed-top navbar-inverse">
  <div class=" navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="social-container">

      </div>

      <div class="nav-collapse pull-left collapse">
        <ul class="nav">
          <li><a href="#">home</a></li>
          <li><a href="#contact">contact</a></li>
          <li><a href="http://docs.google.com/viewer?url=wtwings.herokuapp.com%2Fmenu2013.pdf">menu</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
